/* Reset de estilos, asignacion de fuente para la pagina, colores usados */
* {
    
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Montserrat', sans-serif;
    --clr-morado-800: hsl(246, 50%, 38%);
    --clr-morado-700: hsl(246, 42%, 50%);
    --clr-morado-600: hsl(247, 60%, 64%);
    --clr-morado-400: hsl(250, 100%, 84%);
    --clr-rosa_oscuro: hsl(330, 100%, 31%);
    --clr-grey-400: hsl(216, 4%, 53%);
    --clr-grey-500: hsl(220, 5%, 24%);
    --clr-grey-200: hsl(217, 17%, 91%);
    --clr-drop_shadow:1px 2px 20px 0px rgba(102,102,102,0.28);

    
  }

  body {
    display:inline-block;
    overflow-x: hidden;
    }
/* Clases de utilidad */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
  }

.txt-m-14pt{
    font-weight: 500;
    font-size: 14pt;
}

.forma{
    background: white;
    border-radius: 8px;
    box-shadow: var(--clr-drop_shadow);
    width: 500px;
    height: 500px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Fin */

/* Contenedor General */
.contenedor-general{
    width:calc(100vw - 94px);
    height: 95vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    background: var(--clr-grey-200);
}

.cnt-dash{
    top: 0;
    margin-top: 4em;
    width: 85vw;
    display: flex;
    justify-content: center;
    
}


.dashtext{
    font-weight: 600;
    font-size: 28pt;
    color: var(--clr-grey-500);
}

.cnt-graficas{
    width:calc(100vw - 94px);
    width: 500px;
    
    background: var(--clr-morado-400);
}

.navbar{
    position: fixed;
    background: white;
    width: 94px;
    height: 100vh;
    top: 0px;
    bottom:0px;
    border:0px;
    left: 0px;

    display: flex;
    
    align-items: center;
    flex-direction: column;
    
    z-index: 1;
}

.navbar img:first-child {
    margin-top: 2em;
}

.navbar img:nth-child(2n){
    margin-top:2em ;
}

.navbar img:nth-child(3n){
    margin-top:2em ;
}

.navbar img:last-child{
    
}

.g1{
    display: flex;
  flex-direction: column;
  width: 100%;
  height: 150vh;
  align-items: center;
  justify-content: center;
  
  margin-top: 2em;
  background:var(--clr-morado-400);
}

.forma p{
    margin-top: 0.5em;
}
.forma p:first-child{
    font-weight: 600;
    font-size: 28pt;
    
}

.forma p:nth-child(2){
    font-weight: 500;
    font-size: 18pt;
    margin-bottom: .5em;
}

.forma p:nth-child(3){
    font-weight: 600;
    font-size: 28pt;
    margin-bottom: .3em;
}

.forma p:nth-child(5){
    font-weight: 600;
    font-size: 28pt;
    margin-top: 1em;
   
}

.forma p:last-child{
    font-weight: 500;
    font-size: 18pt;
}




.btn-descargar{
    
    background-color: var(--clr-morado-600);  
    border-radius:0.4em;
    width: 11em;
    height: 3em;
    font-size: 12pt;
    font-weight: 600;
    color: white;
}

.btn-descargar:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/* footer */
.footer{
    
    background: var(--clr-grey-200);
    bottom: 0;
    width: 100vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13pt;
   
}